.object-group-icon {
    width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAEACAMAAAAk8VuEAAAAP1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///+zm6Q9AAAAE3RSTlMAAQIDBQcKDA4PEPHy9PX3+v3+hvcNugAAAAFiS0dEFJLfyTUAAAIBSURBVHja7dvLbsIwEEDRUGhL6YO2/P+/dos0UrFGcRzb564doznKahSWW6qlw5KTAgIECBAgQIAAAQIECBAgQIAAAQIE6F+gQ+g2aCWTLiVvx6hAJZMCAgQIECBAgAABAgQIECBAgAABmh7oNxTPPHVYblI76UeTAgIECBAgQIAAAQIECBAgQIAAAZoL6BiKh+KZn6blgHKTFknvbUtd751a7TFAgAABAgQIECBAgAABAgQIECBAswOdqjUI0Ja7ZECAAAECBAgQIECAAAECBAgQIECAAN31nWoioLU22YAAAQIECBAgQIAAAQIECBAgQIAADQH0XNDUQI2nAAQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgNa8+lqtQYC2DBAgQIAAAQIECBAgQIAAAQIECBCgnQG9pIo35+7pAGjL7XK93wIECBAgQIAAAQIECBAgQIAAAQIEaGdAX9UaBKjtJhsQIECAAAECBAgQIECAAAECBAgQoNBnKD4Wz+SAXpuWnLTed6Z7KzkpIECAAAECBAgQIECAAAECBAgQoNmBzqF45qPDcpN28C/5xltqQIAAAQIECBAgQIAAAQIECBAgQLMDvYfimbcOy01qJ/1oUkCAAAECBAgQIECAAAECBAgQIEBzAV1S9Qg0z6RSR/0BtNfm8vNpGKsAAAAASUVORK5CYII=
    );
}