.qrcode-icon {
    width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAZlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///9w0rLEAAAAIHRSTlMAAgMEBQYHCQoLDA0OExga5+nr8PLz9PX29/j5+vz9/rmHLJsAAAABYktHRCHEbA0WAAAB2ElEQVR42u3dy06DQBSA4dFeBKn3ai9i5f2f0pUbJiZk5JSGfv96wiHfcsIwKUmSJEmSJEm/nbqoVtmsQ9isphzgO+yl1tmsY9isDQAAAAAAAAAAAAAAAAAAAAAAwH8AFjcltUUAddGs91iA26LnlAFURbMAAAAAAAAAAAAAAAAAAAAAAADCAT5P/RZhANtsVj09wFe2ZhkGsMvW3AMAAAAAAAAAAAAAAAAAAAAAAJwfYLHsF7clNmSWPUEAAAAAAAAAAAAAAAAAAAAAAIBxAdqiyo7NjTXLuUEAAAAAAAAAAAAAAAAAAAAAAIDhrdZRTTtLkiRJkiRJf7U/RpXfNfZW9Jz8P0Kv2ZpZ3zV29nODAAAAAAAAAAAAAAAAAAAAAIDrA6jvSmrDAA5ZwV+JnfPc4EV+JgcAAAAAAAAAAAAAAAAAAAAAAJDSdt9vrLvGHqp+u0sEmPbf4gAAAAAAAAAAAAAAAAAAAAAAABMAVHW/FAaQzxpSigWI2xOs0uQBAAAAAAAAAAAAAAAAAAAAALque3osaUYAY1UG8PLRL9/uec7WNPMByPcEZ31wEgAAAAAAAAAAAAAAAAAAAAAwBUCziWrIrLg1kiRJkiRJkiRJkiRJkiRdSz/MptOthld1TwAAAABJRU5ErkJggg==
    );
}