.bar-chart-icon {
    width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAEABAMAAADhAbaFAAAAHlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///+3lkl4AAAACHRSTlMADA/y+Pr9/rNzAZgAAAABYktHRAnx2aXsAAAA4klEQVR42u3avQ2EMAyA0azACrcCK7DCrXArsELGpoHKJ4T4kQO8r7UUv9JFSpEkSZJWq0tAQEBAQEBAQEBA6aAxlAyqISAgICAgICAgoJNAv1AyaNPTQEBAQEBAQEBAQEBAQEBAQEBAQDcAfUPJoH0jICAgICAgICAgICAgICAgICAgoMOgIZQMOn0rEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBBQq6AudN3o6E/PCwMCAgICAgICAprr2+jPnZsbEBAQEBAQENDrQZ/GKpIkSZKe1QR6XxvHL71JfgAAAABJRU5ErkJggg==
    );
}