.stop-icon {
    width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAolBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///+grwMoAAAANHRSTlMAAQIEBQ8RGh0hIyQlKy0xOjtBQkRIUFeam5+prK26vcLHzc/Z2+Tm5+jp6uzt8fLz9P3+gbLbfAAAAAFiS0dENd622WsAAAGuSURBVHja7dY5VgJAFETRD+I8D4CCgigoDihK739tRubdBgb/3LeDulFFSJIkSZIkSRERF9fzdUnR12LUb56/Nympuj9o23/6XJL1ftayf/eppGt11AAwKQmbdar3X5aUDaoBbnICjKsB5jkBltUA65wA371agE1OgLINAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8CsM65f9OrBVjkBHit3R+jnAC31QD9nADDaoCYZtz/2K0H2H/Lt//zJBo6X2Xb/3EVTR3Ocu1/OI7GOoPxMssherkbduMvbe2kqBeSJEmSJEmSpN9+AKHRAEEKYjreAAAAAElFTkSuQmCC
    );
}