.angle-right-icon {
    width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAolBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///+grwMoAAAANHRSTlMACAkKCxATFBYXGBkaGx4fICEiIygqLDNobp2hpaepsrfU1dbZ3d7f4OHi5+jp9/j5+v3+4M7x7AAAAAFiS0dENd622WsAAAGjSURBVHja7d03VgNBFEXBBgQIK5zw3nv79782AggQYggheFU7uC/pSf6Z1gAAAAAAAAAAAAAAAAAAAAB+M7nWS86f2Xuql4O52P6l86qquloN7Z8/qw+369n9oQt86Y9cYKQ/cIFv/XELjPWHLTBzXuOug17DvaroBaaeKnuB1arsBXrP6QvsV/gC/cv0BZYvOhcI+R6wgAUsYAELWMACFrCABSxgAQtYwAIWsIAFLGABC1jAAhawgAUsYAELWMACFrCABSxgAQtYwAIWsIAFLGABC1jAAhawgAUGV913RivpC5xOpC+w3cIXOMgY4Iej+0+H4f21E95/0cvuv98I6O+fdPY/bOrXr1+/fv369evXr1+/fv369evXr1+/fv369evXr1+/fv369evXr1+/fv369evXr1+/fv369evX/8+mT7vvf4YB/W03vH/yMbu/+6erIf2t95Ld39pheH9buMnu//EQPuL9/2WBsP6xBeL6vy0Q2D+yQGT/lwVC+1tbv62qqrthS7V49Fpvx4MWbHar3wAAAAAAAAAAAAAAAOBPvQMwOMrQLSuu9wAAAABJRU5ErkJggg==
    );
}